@media all and (min-width: 480px) {
    .Champions {
        padding: 10px 0;
        margin: 0 auto;
        max-width: 320px;
    }

    .searchButton {
        padding: 10px 0;
        margin: 0 auto;
        max-width: 320px;
      }
    
      .championStatsImage {
        margin: 0 auto;
        padding: 10px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
  }